{% extends "base.html" %}

{% block content %}
  <h1>TODO list <a href="" class="btn btn-primary" style="float: right">Add task</a></h1>
  {% for task in task_list %}
    <span>
        <h3>
            {{ task.content }} 
            {% if task.is_done %}
                <span style="color: green">Done</span>
                <a href="" class="btn btn-secondary">Undo</a>
                {% else %}
                    <span style="color: red">Not done</span>
                    <a href="" class="btn btn-success">Complete</a>
            {% endif %}
        </h3>
        <p>
          Created: {{ task.datetime }}. 
          {% if task.deadline %}
            <span style="color: red"> Deadline: {{ tast.deadline}} </span>
          {% endif %}
        </p>
        <p>
          Tags: 
          {% for tag in task.tags %}
            {{ tag.name }} 
          {% endfor %}
          <a href="">Update</a> 
          <a href="">Delete</a>
        </p>
        <hr>
    </span>
    
  {% endfor %}
{% endblock content %}
